@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', 'Arial';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 8% auto;
    width: 1440px;
    justify-content: center;
}

.qr-div {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    width: 26%;
    padding: 18px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.qr-img {
    border-radius: 20px;
}

h1 {
    background-color: hsl(0, 0%, 100%);
    color: hsl(218, 44%, 22%);
    margin: 32px 32px 20px 32px;
}

p{
    background-color: hsl(0, 0%, 100%);
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    margin: 0 45px 20px 45px;
}
